* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.iconos {
    display: flex;
    list-style: none;
}

.iconos li {
    margin-left: 10px;
    position: relative;
}

.icono {
    width: 30px;
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.iconos li:hover .tooltip {
    display: block;
}

.bienvenida {
    text-align: center;
    padding: 50px;
    background-color: #e1c3f8;
}

.categorias {
    padding: 50px;
    text-align: center;
}

.categoria {
    display: inline-block;
    margin: 20px;
}

.categoria img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.ofertas {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.producto {
    display: inline-block;
    margin: 20px;
}

.producto img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.precio-antes {
    text-decoration: line-through;
    color: #999;
}

.nuevo-precio {
    color: #e6007e;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}


.comprar-btn {
    background-color: #e6007e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.comprar-btn:hover {
    background-color: #c7006e;
}