* {
    margin: 0;  
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4cdf4;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #e1c3f8;
    
    
}



.logo h1 {
    font-size: 24px;
    color: #333;
}

.logo img {
    width: 45px;
   
}



nav ul {
    display: flex;
    list-style: none;
    
    
}

nav ul li {
    margin-left: 20px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    
}

.iconos {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
}

.iconos img {
    width: 20px;
}

.iconos li {
    display: inline-block; /* Muestra los íconos en línea */
    margin: 10px; /* Espaciado entre íconos */
    position: relative; /* Necesario para posicionar el tooltip */
}

.icono {
    width: 50px; /* Ajusta el tamaño de los íconos */
    height: auto; /* Mantiene la proporción de la imagen */
    cursor: pointer; /* Cambia el cursor a mano */
    transition: transform 0.2s; /* Efecto de transición al hacer hover */
}

.icono:hover {
    transform: scale(1.1); /* Aumenta el tamaño del ícono al pasar el mouse */
}

.tooltip {
    display: none; /* Oculta el tooltip por defecto */
    position: absolute; /* Posiciona el tooltip en relación al li */
    bottom: 100%; /* Coloca el tooltip arriba del ícono */
    left: 50%; /* Centra el tooltip horizontalmente */
    transform: translateX(-50%); /* Ajusta el tooltip para que esté centrado */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    color: white; /* Color del texto */
    padding: 5px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    z-index: 10; /* Asegura que el tooltip esté por encima de otros elementos */
}

.iconos li:hover .tooltip {
    display: block; /* Muestra el tooltip al pasar el mouse */
}

.home {
    align-items: end;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;


}

.contenido {
    background-color: #bc68fd;
    max-width: 100%;
    color: #333;
    display: block;
    align-items: center;
    padding: 20px;
  
}

.contenido h1 {
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}	

.contenido p {
    font-size: 18px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenido {
    font-size: 
}